{{#layout}}

<h1>Enjoy your memory!</h1>

{{>inc/error_msg}}

<div class=login>
	<form method=post>
		<table>
			<tr>
				<td>Name
				<td><input type=text name=username>
			<tr>
				<td>Password
				<td><input type=password name=password value=''>
			<tr>
				<td colspan="2" class="action">
                    <input type=submit
                           name=login_submit
                           value='Войти'
                           class="button button-login">
		</table>
	</form>
</div>

{{/layout}}